<header>
    <p class="ps-2 fs-1 d-flex">
        Account
    </p>
    <p class="text-muted m-0 ms-2 small">
        ID | 507f1f77bcf86cd799439011
    </p>
</header>
<app-header-rule></app-header-rule>

<div class="text-center my-4">
    <i class="bi bi-person-circle display-1"></i>
    <p class="fs-3">
        Name-of-Auctioneer
    </p>
</div>

<!-- details -->
<div class="ms-2">
    <h3 class="fw-light">
        Details
    </h3>
    <hr>
    <div class="ms-5">
        <p class="fs-4">Business Registration Number</p>
        <p class="text-muted">f86cd799439011</p>

        <p class="fs-4 mt-5">Email</p>
        <ol class="text-muted">
            <li>companyName@email.com   <a class="ms-3" href="">change</a></li> 
            <li>companyEmail@email.com  <a class="ms-3" href="">change</a></li>
        </ol>

        <p class="fs-4 mt-5">Contact Number</p>
        <ol class="text-muted">
            <li>+27 87 876 6291 <a class="ms-3" href="">change</a></li>
            <li>+27 22 903 8264 <a class="ms-3" href="">change</a></li>
        </ol>
    </div>  
</div>

<!-- documents -->
<div class="ms-2 mt-5">
    <h3 class="fw-light">
        Documents
    </h3>
    <hr>
    <div class="ms-5">
        <div class="d-flex flex-wrap align-items-end ">
            <div class="doc-container">
                <p>Business Registration</p>
                <a href="https://unsplash.com/photos/GJao3ZTX9gU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8Nnx8ZG9jdW1lbnR8ZW58MHx8fHwxNjQ3NTA4OTUy&force=true">
                    <div class="doc-download">
                        <p class="doc-card-top">
                            <i class="bi bi-download"></i>
                            Download
                        </p>
                        <i class="bi bi-file-earmark-text display-1 my-2"></i>
                    </div>
                    <p class="text-muted text-start">name-of-document.pdf</p>
                </a>
            </div>
            <div class="doc-container">
                <p>Auctioneer Association Certificate</p>
                <a href="https://unsplash.com/photos/GJao3ZTX9gU/download?ixid=MnwxMjA3fDB8MXxzZWFyY2h8Nnx8ZG9jdW1lbnR8ZW58MHx8fHwxNjQ3NTA4OTUy&force=true">
                    <div class="doc-download">
                        <p class="doc-card-top">
                            <i class="bi bi-download"></i>
                            Download
                        </p>
                        <i class="bi bi-file-earmark-text display-1 my-2"></i>
                    </div>
                    <p class="text-muted text-start">name-of-document.pdf</p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- subscription -->

<div class="ms-2 my-5">
    <h3 class="fw-light">
        Subscription Plan
    </h3>
    <hr>

    <div class="ms-5">
        <p class="fs-4">Subscription</p>
        <p class="text-muted">Trial</p>

        <p class="fs-4 mt-5">Terms</p>
        <p class="text-muted">Price: R 00.00</p>
        <p class="text-muted">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt iste quibusdam possimus voluptate ex quidem recusandae architecto eligendi tempora autem eius, sed eveniet hic quo velit fugiat maxime? Asperiores voluptates quasi minus placeat dolore voluptas.
        </p>

        <button class="btn btn-success">Change Subscription Plan</button>

    </div>
</div>