<div  id="sidenav">

    <div>
        <i class="bi bi-person-circle display-3 text-dark"></i>
        <h6>Auction-company-name</h6>
    </div>
    


    <div class="fs-3">
        <a [routerLink]="['/dashboard']" routerLinkActive="bg-light text-dark">
            <i class="bi bi-speedometer2"></i>
            Dashboard
        </a>
        <a [routerLink]="['/routePath']" routerLinkActive="bg-light text-dark">
            <i class="bi bi-person-video2"></i>
            Account
        </a>
        <a [routerLink]="['/routePath']" routerLinkActive="bg-light text-dark">
            <i class="bi bi-gear-fill"></i>
            Settings
        </a>
    </div>

    <div>
        auctify
    </div>
</div>