<div  id="sidenav">

    <div>
        <i class="bi bi-person-circle display-3 text-dark"></i>
        <h6 class="company-name">Auction-company-name</h6>
    </div>
    


    <div class="fs-3">
        <a [routerLink]="['/dashboard']" routerLinkActive="bg-light text-dark">
            <i class="bi bi-speedometer2"></i>
            <span class="name">Dashboard</span> 
        </a>
        <a [routerLink]="['/account']" routerLinkActive="bg-light text-dark">
            <i class="bi bi-person-video2"></i>
            <span class="name">Account</span> 
        </a>
        <a [routerLink]="['/routePath']" routerLinkActive="bg-light text-dark">
            <i class="bi bi-gear-fill"></i>
            <span class="name">Settings</span> 
        </a>
    </div>

    <div>
        auctify
    </div>
</div>