<app-sidenav></app-sidenav>
<div class="main-panel">
    <header>
        <a class="d-flex link-primary" [routerLink]="['../items']">
        <i class="bi bi-chevron-left"></i> 
        <p class="m-0">items</p>
        </a>
        
        <p class="ps-2 fs-1 m-0 d-flex">
            auction-name
            <i class="bi bi-chevron-right"></i>
            Items
            <i class="bi bi-chevron-right"></i>
            item-name
        </p>
        <p class="text-muted m-0 ms-2 small">
            start date | start time - start date | start time
        </p>
    </header>
    <app-header-rule></app-header-rule>

    <section class="p-3">
        <div>
            <h3 (click)="showHideSection('images')">
                <i *ngIf="showImages" class="bi bi-chevron-down"></i>
                <i *ngIf="!showImages" class="bi bi-chevron-right"></i>
                Images
            </h3>
            <div class="ms-5" *ngIf="showImages">
                <p class="small text-muted">
                    images of the item on auction. The images will be visible to the users
                </p>
                <input type="file" class="d-none" id="image-input" name="filename" (change)="handleFiles($event)">
                <div class="d-flex flex-wrap m-3">
                    <div id="img-preview" class="d-flex flex-wrap">
                    </div>
                    <div class="m-2 add-img text-center" (click)="addImageClick()">
                        <i class="bi bi-plus-lg display-3"></i>
                        <p>upload image</p>
                    </div>               
                </div>
                <button class="btn btn-sm btn-success shadow-sm">save</button>
                <span class="text-muted ms-3">
                    <i class="bi bi-slash-circle"></i>
                    changes not saved
                </span>
            </div>
            <hr>
        </div>
        <div>
            <h3 (click)="showHideSection('documents')">
                <i *ngIf="showDocuments" class="bi bi-chevron-down"></i>
                <i *ngIf="!showDocuments" class="bi bi-chevron-right"></i>
                Documents
            </h3>
            <div class="ms-5" *ngIf="showDocuments">
                <p class="small text-muted">
                    legal and non-legal documents related to the  lot on auction. These documents will be accessible to all users
                </p>
                <input type="file" class="d-none" id="image-input" name="filename" (change)="handleFiles($event)">
                <div class="d-flex flex-wrap m-3">
                    <div id="img-preview" class="d-flex flex-wrap">
                    </div>
                    <div class="m-2 add-img text-center" (click)="addImageClick()">
                        <i class="bi bi-plus-lg display-3"></i>
                        <p>upload document</p>
                    </div>               
                </div>
                <button class="btn btn-sm btn-success shadow-sm">save</button>
                <span class="text-muted ms-3">
                    <i class="bi bi-slash-circle"></i>
                    changes not saved
                </span>
            </div>
            <hr>
        </div>
        <div>
            <h3 (click)="showHideSection('details')">
                <i *ngIf="showDetails" class="bi bi-chevron-down"></i>
                <i *ngIf="!showDetails" class="bi bi-chevron-right"></i>
                Details
            </h3>
            <div class="ms-5" *ngIf="showDetails">
                <p class="small text-muted">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, provident.
                </p>
                
                <div class="NgxEditor__Wrapper my-4">
                    <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
                    <ngx-editor
                    [editor]="editor"
                    (ngModel)="html"
                    (disabled)="false"
                    [placeholder]="'Type here...'"
                    ></ngx-editor>
                </div>

                <button class="btn btn-sm btn-success shadow-sm">save</button>
                <span class="text-muted ms-3">
                    <i class="bi bi-slash-circle"></i>
                    changes not saved
                </span>
            </div>
            <hr>
        </div>
    </section>

</div>
