
<header class="bg-primary-blue p-2 text-light mb-5">
    <h1 class="display-4">Auctify logo</h1>
</header>
<main class="mt-5">
    <h3 class="text-center display-4">Login</h3>

    <div class="border border-primary-blue border-2 mx-auto p-4 rounded shadow-sm" style="width: 20rem;">
        <div class="text-center mb-3">
            <i class="bi bi-person-circle display-1 text-primary-blue"></i>
            <p>* * * * * *</p>
        </div>
        <form>
            <div class="mb-3 border border-dark rounded d-flex">
                <i class="bi bi-person-fill m-2 text-secondary"></i>
                <input type="email" class="form-control border-0 d-inline p-0" id="email" placeholder="email">
            </div>
            <div class="mb-3 border border-dark rounded d-flex">
                <i class="bi bi-key-fill m-2 text-secondary"></i>
                <input type="password" class="form-control border-0 d-inline p-0" id="password" placeholder="password">
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label text-muted small" for="flexCheckDefault">
                  remember me
                </label>
            </div>
            <button class="btn bg-primary-blue text-light px-5 mt-3">login</button>
        </form>
    </div>
</main>