
<a [routerLink]="['../item']" class="auction-item-card">
    <div class="card-top">item-name</div>
    <div class="card-mid">
        <img class="img-fluid" src="https://picsum.photos/200?grayscale" alt="">
        <img class="img-fluid" src="https://picsum.photos/200" alt="">
        <img class="img-fluid" src="https://picsum.photos/200?blure=2" alt="">
        <img class="img-fluid" src="https://picsum.photos/200?grayscale&blur=2" alt="">
    </div>
    <div class="card-bottom">
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia, ut? Quod fugit dolorem debitis voluptas?
        </p>
    </div>
</a>
