<app-sidenav></app-sidenav>
    <div class="main-panel">
    <header class="d-flex justify-content-between">
        <div>
            <h2 class="display-4">Dashboard</h2>
            <h3 class="text-dark ps-2 fw-normal">Auctions</h3>        
        </div>
        <div class="align-self-center me-3 d-flex align-items-center">
            show: 
            <select class="form-select form-select-sm rounded-0 ms-2" aria-label="Default select example">
                <option selected value="all">All</option>
                <option value="upcoming">upcoming</option>
                <option value="past">past</option>
                <option value="cancelled">cancelled</option>
            </select>
        </div>
    </header>
    <app-header-rule></app-header-rule>

    <div class="p-1 d-flex flex-wrap">
        <app-card-auction></app-card-auction>
        <app-card-auction></app-card-auction>
        <app-card-auction></app-card-auction>
        <app-card-auction></app-card-auction>
        <app-card-auction></app-card-auction>

        <div class="add-new-card">
            <div>
                <i class="bi bi-plus-lg"></i>
                <p>Create Auction Event</p>            
            </div>

        </div>
    </div>    
</div>

