<header>
    <h2 class="display-4">Dashboard</h2>
    <h3 class="text-dark ps-2 fw-normal">Auctions</h3>
</header>
<app-header-rule></app-header-rule>

<div class="p-1 d-flex flex-wrap">
    <app-card-auction></app-card-auction>
    <app-card-auction></app-card-auction>
    <app-card-auction></app-card-auction>
    <app-card-auction></app-card-auction>
    <app-card-auction></app-card-auction>

    <div class="add-new-card">
        <div>
            <i class="bi bi-plus-lg"></i>
            <p>Create Auction Event</p>            
        </div>

    </div>
</div>
